.card {
  border-radius: 2px;
}

.card.robot {
  border: 1px solid var(--robot-card-color);
}

.card.ability {
  border: 1px solid var(--ability-card-color);
}

.card.robot header,
.card.robot footer {
  background-color: var(--robot-card-color);
}

.card.ability header,
.card.ability footer {
  background-color: var(--ability-card-color);
}

.card header {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  height: 8.9%;
  justify-content: space-between;
  padding: 0 4px;
}

.card h3 {
  font-size: 12px;
  text-transform: capitalize;
}

.card-image-container {
  height: 40%;
}

.card-image-container img {
  height: 100%;
}

.card-text-container {
  font-size: 12px;
  height: 40%;
  padding: 4px;
}

.card footer {
  align-items: center;
  color: #fff;
  display: flex;
  font-weight: 700;
  height: 11.1%;
  justify-content: space-between;
  padding: 0 4px;
}

.card .stat svg {
  opacity: 0.5;
}
